{% extends 'index.html' %}

{% block title %}Time{% endblock %}

{% block content %}

<div class="container ">
    <div class="d-flex  justify-content-between align-items-center mb-3">
        <h4>Tempos do Projeto</h4>
        <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#criarHorarioModal">Criar Horário</button>
    </div>
    {% if times %}
    <div class="list-group group">
        {% for time in times %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form class=""  action="/times/edit_time/{{ time.id_time }}" method="POST">
                        <input type="hidden" name="id_time" value="{{ time.id_time }}">
                        <input type="hidden" name="id_project" value="{{ time.id_project }}">
                        <input type="time" name="time_l" id="time_l" value="{{ time.time }}">
                        <button class="btn btn-primary">Editar</button>
                    </form>
                    <form class="mb-3" id="deleteForm" action="/times/delete_time/{{ time.id_time }}" method="POST">
                        <input class="btn" type="hidden" name="id_time" value="{{ time.id_time }}">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="return_void text-center">
        <p>Nenhum tempo definido</p>
    </div>
{% endif %}


</div>


<!-- Modal para criar horário -->
<div class="modal fade" id="criarHorarioModal" tabindex="-1" role="dialog" aria-labelledby="criarHorarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criarHorarioModalLabel">Criar Horário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/times/create_time/" method="POST">
                <div class="modal-body">
                        <div class="">
                            <label for="horario">Horário</label>
                            <input type="hidden" name="id_project" name="id_project" value="{{ id_project }}">
                            <input type="time" class="form-control" id="new_time" name="new_time">
                        </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>

        </form>
        </div>
    </div>
</div>
<style type="text/css">
 
    .list-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
    .list-group-item{
        padding: 20px;
    }
    input{
        border: 1px solid #ccc !important;
        border-radius: 4px;
        padding: 5px;
    }
</style>

  
{% endblock %}
