{% extends 'index.html' %}

{% block title %}Detalhes da Consulta{% endblock %}

{% block content %}
<div class="titulo">
  <h1>Consultas</h1>
  <div>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#id01">Criar Consulta</a>
    <a href="#">Script Python</a>
  </div>
</div>

{% if query_data is not none and query_data|length >= 1 %}
<div class="table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">TB_ORIGEM</th>
                <th scope="col">TB_DESTINO</th>
                <th scope="col">ORDEM</th>
                <th scope="col">AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for query in query_data %}
            <tr>
                <td class="code_origen">{{ query.origin_query }}</td>
                <td class="">{{ query.query_destination }}</td>
                <td class="">{{ query.nr_execution_order }}</td>
                <td class="button-time">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editarModal{{ query.id_query }}">Editar</a>
                    <a href="#" class="btn btn-danger delete-btn-query" data-id-query="{{ query.id_query }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="return_void">
    <p>Nenhuma consulta por enquanto</p>
</div>
{% endif %}


<!-- MODAL DE CRIAÇÃO DE CONSULTA -->
<div class="modal fade" id="id01" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Criar nova consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Coloque aqui os campos para criar uma nova consulta -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAIS DE EDIÇÃO DAS CONSULTAS -->
{% for p in query_data %}
<div class="modal fade" id="editarModal{{ p.id_query }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Editar consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Coloque aqui os campos para editar a consulta com ID {{ p.id_query }} -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
